.fundo{
    background: linear-gradient(to bottom, #2b5876, #4e4376);
    height: 100vh;
}
.calculadora {
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
  }
  

  #display {
    background-color: #444;
    padding: 10px;
    margin: 10px 0;
    font-size: 24px;
    border: 1px solid #888;
    border-radius: 5px;
    overflow: hidden;
  
  }
  

  .botao {
    width: 60px;
    height: 50px;
    background-color: #555;
    color: white;
    font-size: 18px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .botao:hover{
    background:rgb(104, 98, 98);
  }

  .botaoLimpar {
    background-color: #ff5555;
    color: white;
    padding: 1.3em;
  }
  .botaoLimpar:hover{
    background: rgb(238, 101, 101);
    cursor: pointer;
  }


  .botao:active {
    background-color: #777;
  }
  .botaoLimpar{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 5em;
    margin-right: 15em;

  }

  .calcular{
    cursor: pointer;
    padding: 1.4em;
    background-color: #55ff55;
    border-radius: 5px;
    border:none;
    width: 4em;
    color:aliceblue
  }

  .calcular:hover{
    background: #75ff75;
  }
  .botoes{
   margin-right: 15px;

  }